<a href="https://colab.research.google.com/github/alsh02/Mathematical-Explorations/blob/main/%EB%B6%93%EA%BD%83_%EC%A2%85%EB%A5%98_%EB%B6%84%EB%A5%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 분류
붓꽃의 종류를 K-NN 알고리즘을 이용하여 분류해봅시다.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 구글 드라이브 마운트하기
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# 붓꽃 csv 파일 불러오기
iris = pd.read_csv('/content/drive/MyDrive/colab_csv/Iris.csv')
iris_array = np.array(iris)

features = iris_array[:, 1:-1]
target_value = iris_array[:, [-1]]

In [ ]:
# 유클리드 거리 함수
def distance(a, b):
  return np.sqrt(np.sum(np.power(a - b, 2)))

In [ ]:
# 마지막 행벡터와 거리가 가까운 K개의 데이터의 라벨 중 빈도가 가장 높은 라벨을 반환하는 함수
def KNN(unknown, features, K):
  data_length = len(features)

  # 데이터 사이의 거리 계산
  distance_result = np.zeros(data_length)
  for i in range(data_length):
    distance_result[i] = distance(unknown, features[i])
  
  # 분류하려는 데이터와 가까운 순서대로 인덱스 정렬
  index = distance_result.argsort()

  # 레이블별 빈도 세기
  target_result = []
  result = [0, 0, 0]
  for i in range(K):
    target_result.append(target_value[index[i]])
    if target_result[i] == 'Iris-setosa':
      result[0] += 1
    elif target_result[i] == 'Iris-versicolor':
      result[1] += 1
    else:
      result[2] += 1

  max_label = result.index(max(result)) # 가장 많이 나온 라벨의 인덱스 값을 저장
  species = {0:"setosa", 1:"versicolor", 2:"virginica"}
  species_result = species[max_label]

  return species_result

In [ ]:
# 그림에서 수집한 데이터
ID_1=np.array([2.7, 2.4, 1.65, 0.67])
ID_2=np.array([5.84, 5.48, 3, 2.16])
ID_3=np.array([3.97, 4.01, 1.7, 0.67])

In [ ]:
# K_NN 분류기 함수를 이용하여 분류하기
result1 = KNN(ID_1, features, 5)
result2 = KNN(ID_2, features, 5)
result3 = KNN(ID_3, features, 5)

In [ ]:
# 결과 출력
print(result1, result2, result3)